$color-primary-light-grey: #e4e4e4;
$color-primary-normal-grey: #8f8f83;
$color-primary-dark-grey: #3e3e3e;
$color-primary-white: #fff;
$color-primary-black: #000000;

$color-blue-deep: #1165E5;
$color-blue-light: #3acfef;
$color-blue-green: #3cc390;
$color-orange-dark: #d84728;