/* Medium Layout: 1280px */
/* Tablet Layout: 768px */
/* Mobile Layout: 320px */
/* Wide Mobile Layout: 480px */
.dropdown-item {
  cursor: pointer; }

.dropdown-item.active, .dropdown-item:active {
  background-color: #3cc390; }

.smallText {
  font-size: .7rem; }

.company .company-header {
  text-transform: uppercase;
  font-family: 'Courier New', sans-serif;
  font-size: 2rem; }

.company p {
  font-size: 1.3rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.7;
  height: 100%;
  min-height: 100%; }

.container-fluid .shape-container {
  position: relative;
  z-index: 1;
  background-color: white;
  top: -20px; }
  .container-fluid .shape-container .left-skew {
    width: 100%;
    height: 35rem;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    transform: skewY(5deg); }
  .container-fluid .shape-container .right-skew {
    width: 100%;
    height: 35rem;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    transform: skewY(-5deg); }

#calc-container {
  top: 0rem;
  z-index: 8; }
  #calc-container .left-skew,
  #calc-container .right-skew {
    background-color: #3acfef; }

#calc-container-2 {
  top: 10rem;
  z-index: 9; }

.main-content {
  position: relative;
  z-index: 2;
  background-color: #fff;
  background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.9)), url(/images/header-background.jpg);
  background-position: center;
  background-size: contain;
  padding: 0 4rem 10rem 4rem; }

.padding-top {
  padding-top: 5rem; }

.padding-bottom {
  padding-bottom: 10rem; }

.img-sectors {
  width: 100%;
  height: 100%;
  display: block; }

.foam-pic {
  border-radius: .5rem; }

.foam-frame .foam1 {
  top: -6rem;
  left: 0rem;
  position: absolute;
  width: 20rem;
  height: 25rem;
  box-shadow: 0.2rem 0.2rem 0.6rem 0.1rem rgba(255, 255, 255, 0.2);
  transition: width, height .5s; }
  .foam-frame .foam1:hover {
    z-index: 5;
    width: 20rem;
    height: 25rem; }

.foam-frame .foam2 {
  top: 7rem;
  left: 5rem;
  position: absolute;
  width: 30rem;
  height: 20rem;
  box-shadow: 0.2rem 0.2rem 0.6rem 0.1rem rgba(0, 0, 0, 0.4); }
  .foam-frame .foam2:hover {
    z-index: 5; }

.foam-frame .foam3 {
  position: absolute;
  top: -7rem;
  right: 3rem;
  width: 20rem;
  height: 20rem;
  box-shadow: 0.2rem 0.2rem 0.6rem 0.1rem rgba(0, 0, 0, 0.4); }

.stat-count {
  padding-top: 2rem;
  height: 15rem;
  width: 100%;
  text-align: center; }
  .stat-count .count {
    line-height: 60px;
    color: black;
    margin-left: 30px;
    font-size: 25px; }
  .stat-count .col {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0 1rem 0 1rem; }
    .stat-count .col h3 {
      font-size: 4rem; }
  .stat-count hr {
    background-color: #3acfef;
    height: .2rem;
    width: 50%;
    margin-left: 25%; }

html, body {
  background: rgba(0, 0, 0, 0.7) url(../../images/pathfinder.jpg) fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px; }

body .overlay {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  transition: 5s;
  -webkit-animation: animateBgColor 5s;
  /* Safari 4.0 - 8.0 */
  animation: animateBgColor 5s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
  transition-timing-function: ease-out; }

body .inner {
  position: relative;
  z-index: 2; }

.section-gap {
  padding: 100px 0; }

.section-gap-half {
  padding: 3rem 0; }

.section-gap-small-bot {
  margin-bottom: 1rem; }

.section-title {
  padding-bottom: 30px; }
  .section-title h2 {
    margin-bottom: 20px; }
  .section-title p {
    font-size: 16px;
    margin-bottom: 0; }

.p1-gradient-bg, .banner-content .genric-btn, .story-area .primary-btn, .header-top .menu-top-left span, .header-top .menu-top-right span, .story-btn {
  background-image: -moz-linear-gradient(0deg, #41f7d9 0%, #536ade 100%);
  background-image: -webkit-linear-gradient(0deg, #41f7d9 0%, #536ade 100%);
  background-image: -ms-linear-gradient(0deg, #41f7d9 0%, #536ade 100%); }

.p1-gradient-bg-reverse, .story-area {
  background-image: -moz-linear-gradient(0deg, #536ade 0%, #41f7d9 100%);
  background-image: -webkit-linear-gradient(0deg, #536ade 0%, #41f7d9 100%);
  background-image: -ms-linear-gradient(0deg, #536ade 0%, #41f7d9 100%); }

.p1-gradient-color {
  background: -moz-linear-gradient(0deg, #0083bb 0%, #536ade 100%);
  background: -webkit-linear-gradient(0deg, #0083bb 0%, #536ade 100%);
  background: -ms-linear-gradient(0deg, #0083bb 0%, #536ade 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.primary-btn {
  background-color: #536ADE;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  color: #fff;
  border: 1px solid transparent;
  display: inline-block;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: uppercase;
  position: relative; }
  .primary-btn:focus {
    outline: none; }
  .primary-btn span {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .primary-btn:hover {
    background-color: transparent;
    border-color: #fff;
    color: #fff; }
    .primary-btn:hover span {
      color: #fff;
      right: 20px; }
  .primary-btn.white {
    border: 1px solid #fff;
    color: #fff; }
    .primary-btn.white span {
      color: #fff; }
    .primary-btn.white:hover {
      background: #fff;
      color: #536ADE; }
      .primary-btn.white:hover span {
        color: #536ADE; }

.hr-dark {
  color: #000000; }

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.banner-area .overlay-bg {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-animation: animateBgColor 5s;
  /* Safari 4.0 - 8.0 */
  animation: animateBgColor 5s;
  animation-delay: .7s;
  animation-fill-mode: backwards;
  transition-timing-function: ease-out; }

.banner-area .banner-height {
  height: 75vh; }

.banner-content {
  top: -5rem;
  z-index: 2;
  text-align: center; }
  .banner-content h1 {
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 21.213px 21.213px 15px rgba(0, 0, 0, 0.15);
    -webkit-animation: animateBannerh1 1s;
    /* Safari 4.0 - 8.0 */
    animation: animateBannerh1 1s;
    animation-delay: .3s;
    animation-fill-mode: backwards;
    transition-timing-function: ease-out; }
    .banner-content h1 span {
      font-weight: 700; }
    @media (max-width: 414px) {
      .banner-content h1 {
        font-size: 38px; } }
  .banner-content h6 {
    color: #fff;
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    margin-top: 5rem;
    -webkit-animation: animateBannerh1 1s;
    /* Safari 4.0 - 8.0 */
    animation: animateBannerh1 1s;
    animation-delay: .6s;
    animation-fill-mode: backwards;
    transition-timing-function: ease-in-out; }
  .banner-content a {
    -webkit-animation: animateBannerh1 1s;
    /* Safari 4.0 - 8.0 */
    animation: animateBannerh1 1s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    transition-timing-function: ease-in-out; }
  .banner-content .bar {
    height: 1px;
    background-color: #536ADE;
    width: 30%;
    display: block;
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
    -webkit-animation: animateBannerh1 1s .3s;
    /* Safari 4.0 - 8.0 */
    animation: animateBannerh1 1s .3s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    transition-timing-function: ease-out; }
  .banner-content .genric-btn {
    color: #fff;
    text-transform: uppercase;
    border-radius: 1rem;
    font-size: 1.1rem;
    padding: .5rem 3rem .5rem 3rem;
    font-weight: 400;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .banner-content .genric-btn:hover {
      cursor: pointer;
      background: transparent;
      border-color: #fff;
      color: #fff; }
  @media (max-width: 960px) {
    .banner-content h1 {
      font-size: 35px; } }

#main-bg-light {
  background-color: #f9f9ff; }

.c_feature_box {
  box-shadow: 0px 25px 49px 0px rgba(58, 74, 88, 0.1);
  border-radius: 2px;
  background: #fff;
  padding: 45px 0px;
  margin-top: -1rem;
  top: -5rem;
  z-index: 22;
  position: relative; }
  .c_feature_box .col-lg-4:last-child .c_box_item:before {
    display: none; }

.c_box_item {
  opacity: 0;
  padding: 0px 35px 0px 40px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .c_box_item:before {
    content: "";
    background: #e5e5e5;
    height: 145px;
    width: 1px;
    position: absolute;
    right: -15px;
    top: 0px; }
  .c_box_item a {
    text-decoration: none; }
  .c_box_item h1 {
    color: #8f8f83;
    font-size: 7rem;
    position: absolute;
    opacity: .2; }
  .c_box_item h4 {
    font-size: 20px;
    color: #232d37;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    line-height: 36px;
    padding-bottom: 10px;
    padding-top: 1.2rem; }
    .c_box_item h4:hover {
      color: #2bc0a4; }
  .c_box_item p {
    font-size: 14px;
    line-height: 26px;
    color: #51545f;
    font-family: Poppins, sans-serif; }
  .c_box_item :hover {
    color: #2bc0a4; }

.step-wrapper {
  text-align: center; }
  .step-wrapper h2 {
    color: #2bc0a4; }
  .step-wrapper p {
    font-size: 1.2rem; }

.d_feature_text .main_title {
  padding-bottom: 20px; }

.d_feature_text p {
  font-size: 1rem;
  color: #51545f;
  font-family: Poppins, sans-serif;
  line-height: 26px;
  padding-bottom: 12px; }
  .d_feature_text p + p {
    padding-bottom: 0px; }

.d_feature_text .read_btn {
  margin-top: 34px; }

.d_feature_img {
  padding-left: 70px; }

@media (min-width: 500) and (max-width: 992px) {
  .story-title {
    text-align: center; } }

.story-area {
  width: 90%;
  margin: auto;
  margin-bottom: 8rem;
  padding: 90px 0;
  position: relative;
  box-shadow: .5rem .5rem 3rem;
  position: relative; }
  .story-area:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: url(../../images/waving.jpg) no-repeat center center/cover;
    z-index: 1; }
  .story-area p {
    font-size: 1rem; }
  .story-area .width-adjust {
    width: 80%; }
  .story-area .story-box {
    padding: 60px 90px;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    position: relative;
    z-index: 2; }
    .story-area .story-box h5 {
      margin-bottom: 15px; }
  .story-area:after {
    content: "";
    position: absolute; }
  .story-area .primary-btn {
    margin-top: 25px;
    border: 1px solid transparent;
    border-radius: .5rem;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .story-area .primary-btn:hover {
      cursor: pointer;
      background: transparent;
      border-color: #000000;
      color: #000000; }
    .story-area .primary-btn p {
      margin-bottom: 0; }

.main-content-area {
  background-color: #f9f9ff;
  opacity: 0;
  transition: .5s; }

.feature-content {
  width: 100%;
  height: 10rem;
  position: relative;
  display: block;
  top: -5rem;
  box-shadow: 0.1rem 0.1rem 0.7rem #000000; }
  .feature-content .single-feature {
    background-color: #fff;
    height: 100%;
    width: 100%;
    display: block;
    position: relative; }
    .feature-content .single-feature:hover {
      cursor: pointer; }
  .feature-content .overlay-bg {
    background-color: rgba(0, 0, 0, 0.6); }

.home-about-right {
  padding-left: 100px; }
  @media (max-width: 1024px) {
    .home-about-right {
      padding-left: 15px; } }
  .home-about-right h6 {
    color: #536ADE;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 12px; }
  .home-about-right h1 {
    padding: 20px 0; }
    @media (max-width: 413px) {
      .home-about-right h1 br {
        display: none; } }
  .home-about-right p span {
    font-weight: 600;
    color: #000000; }
  .home-about-right .primary-btn {
    margin-top: 25px;
    background-color: #000000;
    border: 1px solid transparent;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .home-about-right .primary-btn:hover {
      background-color: transparent;
      color: #536ADE;
      border-color: #536ADE; }
  @media (max-width: 960px) {
    .home-about-right {
      margin-top: 50px; } }

.center-price {
  align-content: center; }

.no-1 {
  background-color: #3cc390; }

.padding-bot {
  padding-bottom: 2rem; }

.hovered {
  display: none;
  transition: display .4sec; }

.price-area {
  min-height: 100rem;
  background: #f9f9ff; }
  .price-area .single-price {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    padding: 40px 30px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem; }
    .price-area .single-price .package-no, .price-area .single-price .package-no-1, .price-area .single-price .package-no-2, .price-area .single-price .package-no-3, .price-area .single-price .package-no-4, .price-area .single-price .package-no-5, .price-area .single-price .package-no-6, .price-area .single-price .package-no-7, .price-area .single-price .package-no-8, .price-area .single-price .package-no-9, .price-area .single-price .package-no-10, .price-area .single-price .package-no-11, .price-area .single-price .package-no-12, .price-area .single-price .package-no-13, .price-area .single-price .package-no-14, .price-area .single-price .package-no-15, .price-area .single-price .package-no-16, .price-area .single-price .package-no-17, .price-area .single-price .package-no-18, .price-area .single-price .package-no-19, .price-area .single-price .package-no-20 {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      font-weight: 300;
      margin-left: auto;
      margin-right: auto;
      padding: 0 1rem 0 1rem;
      width: 140px;
      height: 140px;
      color: #fff;
      border-radius: 100px;
      align-items: center;
      display: grid;
      border: 30px solid #f9f9ff; }
    .price-area .single-price .package-no-1 {
      background-color: #fff; }
    .price-area .single-price .package-no-2 {
      background-color: #fff; }
    .price-area .single-price .package-no-3 {
      background-color: rgba(255, 153, 193, 0.7); }
    .price-area .single-price .package-no-4 {
      background-color: #fff; }
    .price-area .single-price .package-no-5 {
      background-color: rgba(143, 143, 131, 0.7); }
    .price-area .single-price .package-no-6 {
      background-color: rgba(251, 253, 200, 0.7); }
    .price-area .single-price .package-no-7 {
      background-color: rgba(249, 249, 255, 0.7); }
    .price-area .single-price .package-no-8 {
      background-color: rgba(62, 235, 51, 0.7); }
    .price-area .single-price .package-no-9 {
      background-color: rgba(234, 229, 74, 0.7); }
    .price-area .single-price .package-no-10 {
      background-color: rgba(62, 62, 62, 0.7); }
    .price-area .single-price .package-no-11 {
      background-color: rgba(255, 255, 255, 0.7); }
    .price-area .single-price .package-no-12 {
      background-color: rgba(58, 207, 239, 0.7); }
    .price-area .single-price .package-no-13 {
      background-color: rgba(251, 253, 200, 0.7); }
    .price-area .single-price .package-no-14 {
      background-color: rgba(19, 188, 251, 0.7); }
    .price-area .single-price .package-no-15 {
      background-color: rgba(166, 231, 255, 0.7); }
    .price-area .single-price .package-no-16 {
      background-color: rgba(160, 53, 255, 0.7); }
    .price-area .single-price .package-no-17 {
      background-color: rgba(17, 2, 173, 0.7); }
    .price-area .single-price .package-no-18 {
      background-color: rgba(7, 172, 194, 0.7); }
    .price-area .single-price .package-no-19 {
      background-color: rgba(118, 51, 178, 0.7); }
    .price-area .single-price .package-no-20 {
      background-color: rgba(231, 1, 88, 0.7); }
    .price-area .single-price .top-part h4 {
      margin-top: 20px; }
    .price-area .single-price .package-list {
      padding: 13px 0 0 0; }
      .price-area .single-price .package-list ul li {
        font-size: .8rem;
        padding: 10px 0;
        border-top: 1px solid #eee; }
      .price-area .single-price .package-list ul li:last-child {
        border-bottom: 1px solid #eee; }
    .price-area .single-price .bottom-part {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .price-area .single-price .bottom-part .price-btn {
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        background-color: #fff;
        color: #000000;
        padding: 10px 40px;
        border-radius: 5px;
        font-weight: 600;
        display: inline-block; }
    .price-area .single-price:hover {
      background-color: #3cc390 !important;
      background-size: cover !important;
      color: #fff;
      cursor: pointer; }
      .price-area .single-price:hover h1, .price-area .single-price:hover h4 {
        color: #fff; }
      .price-area .single-price:hover .package-no, .price-area .single-price:hover .package-no-1, .price-area .single-price:hover .package-no-2, .price-area .single-price:hover .package-no-3, .price-area .single-price:hover .package-no-4, .price-area .single-price:hover .package-no-5, .price-area .single-price:hover .package-no-6, .price-area .single-price:hover .package-no-7, .price-area .single-price:hover .package-no-8, .price-area .single-price:hover .package-no-9, .price-area .single-price:hover .package-no-10, .price-area .single-price:hover .package-no-11, .price-area .single-price:hover .package-no-12, .price-area .single-price:hover .package-no-13, .price-area .single-price:hover .package-no-14, .price-area .single-price:hover .package-no-15, .price-area .single-price:hover .package-no-16, .price-area .single-price:hover .package-no-17, .price-area .single-price:hover .package-no-18, .price-area .single-price:hover .package-no-19, .price-area .single-price:hover .package-no-20 {
        border-color: #fff;
        color: #fff; }
    @media (max-width: 960px) {
      .price-area .single-price {
        margin-bottom: 30px; } }
    @media (max-width: 736px) {
      .price-area .single-price {
        margin: 10px; } }

.wrapper {
  height: 300px;
  margin-top: 50px;
  position: relative;
  perspective: 800px;
  perspective-origin: 90% 100px; }

/* cube wrapper */
.cube {
  position: relative;
  margin: 0 auto;
  width: 200px;
  transform-style: preserve-3d;
  transition: all 1s linear; }

/* outer cube */
b {
  position: absolute;
  width: 200px;
  height: 200px;
  display: block;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 0 30px rgba(143, 143, 131, 0.6);
  font-size: 20px;
  text-align: center;
  line-height: 200px;
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;
  transition: all 1s linear; }

b.back {
  transform: translateZ(-100px) rotateY(180deg); }

b.right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right; }

b.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left; }

b.top {
  transform: rotateX(-90deg) translateY(-100px);
  transform-origin: top center; }

b.bottom {
  transform: rotateX(90deg) translateY(100px);
  transform-origin: bottom center; }

b.front {
  transform: translateZ(100px); }

.modal-wrap {
  background-color: rgba(249, 249, 255, 0.9); }

.modal hr {
  margin-bottom: 0;
  padding-bottom: 0; }

.modal h2 {
  text-align: center;
  font-weight: 600;
  padding-top: 1rem;
  color: #8f8f83; }

.modal p {
  font-size: 1rem;
  text-align: center;
  padding: 0 1rem 0 1rem; }

.modal h3 {
  color: #2bc0a4;
  font-weight: 700;
  font-size: 3rem;
  text-align: center; }

.modal .col-6 p {
  padding-top: 3rem;
  text-align: center; }

.modal .input-lg {
  margin-top: 5rem;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem; }

.footer-area {
  background-color: #fff; }
  .footer-area h4 {
    padding-bottom: 30px; }
  .footer-area .number {
    color: #536ADE;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px; }
  .footer-area .genric-btn {
    background: #536ADE;
    border: none;
    border-radius: 57px;
    height: 36px;
    line-height: 44px; }
  .footer-area .primary-btn {
    background-color: #536ADE; }
  .footer-area .primary-btn:hover .lnr {
    color: #536ADE; }
  .footer-area .footer-bottom {
    padding-top: 40px; }
    .footer-area .footer-bottom a {
      color: #536ADE; }
    .footer-area .footer-bottom .footer-social {
      text-align: right; }
      .footer-area .footer-bottom .footer-social a {
        background: #f9f9ff;
        margin: 2px;
        padding: 12px 16px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        .footer-area .footer-bottom .footer-social a:hover {
          background-color: #536ADE; }
          .footer-area .footer-bottom .footer-social a:hover i {
            color: #fff; }
      .footer-area .footer-bottom .footer-social i {
        color: #000000;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
      @media (max-width: 768px) {
        .footer-area .footer-bottom .footer-social {
          margin-top: 20px; } }
  @media (max-width: 768px) {
    .footer-area .single-footer-widget .newsletter .primary-btn {
      right: 2% !important;
      width: auto;
      right: 0;
      top: 5px;
      transform: translate(0%, 0); } }

.single-footer-widget .navbar-form {
  width: 100%; }
  .single-footer-widget .navbar-form .form-control {
    border: none;
    border-radius: 20px;
    font-size: 13px;
    background-color: #f9f9ff;
    border: 1px solid #f9f9ff;
    padding: 9px 9px 9px 20px; }
  .single-footer-widget .navbar-form .add-on {
    background: #f9f9ff;
    border-radius: 20px;
    border: 1px solid #fff; }
  .single-footer-widget .navbar-form .genric-btn {
    padding: 0px;
    width: 35px;
    margin-right: 10px; }
    .single-footer-widget .navbar-form .genric-btn:hover {
      background-color: #536ADE; }
      .single-footer-widget .navbar-form .genric-btn:hover .lnr {
        color: #fff; }
  .single-footer-widget .navbar-form .error {
    color: #FF0000; }
  .single-footer-widget .navbar-form .lnr {
    font-weight: 900;
    font-size: 18px !important;
    color: #fff; }

.whole-wrap {
  background-color: #f3f3f3; }

.generic-banner {
  background-color: #536ADE;
  text-align: center;
  margin-top: 130px; }
  @media (max-width: 800px) {
    .generic-banner {
      margin-top: 76px; } }
  .generic-banner .height {
    height: 600px; }
  .generic-banner .generic-banner-content h2 {
    line-height: 1.2em;
    margin-bottom: 20px; }
  .generic-banner .generic-banner-content p {
    text-align: center;
    font-size: 16px; }

.generic-content h1 {
  font-weight: 600; }

.about-generic-area {
  background: #f9f9ff; }
  .about-generic-area p {
    margin-bottom: 20px; }

.white-bg {
  background: #fff; }

.section-top-border {
  padding: 50px 0;
  border-top: 1px dotted #eee; }

.switch-wrap {
  margin-bottom: 10px; }
  .switch-wrap p {
    margin: 0; }

.animate-up {
  opacity: 1;
  -webkit-animation: animateUp 1s .3s;
  /* Safari 4.0 - 8.0 */
  animation: animateUp 1s .3s;
  animation-fill-mode: backwards;
  transition-timing-function: ease-out; }

.animate-delay-03s {
  animation-delay: .3s; }

.animate-delay-05s {
  animation-delay: .5s; }

.animate-delay-07s {
  animation-delay: .7s; }

.animate-delay-09s {
  animation-delay: .9s; }

.animate-delay-11s {
  animation-delay: 1.1s; }

@keyframes animateBannerh1 {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  100% {
    transform: translateX(0rem);
    opacity: 1; } }

@keyframes animateUp {
  0% {
    transform: translateY(3rem);
    opacity: 0; }
  100% {
    transform: translateY(0rem);
    opacity: 1; } }

@keyframes onStartHide {
  0% {
    top: -20rem; }
  100% {
    top: 0; } }

@keyframes animateBgColor {
  0% {
    background-color: rgba(0, 0, 0, 0.95); }
  100% {
    background-color: rgba(0, 0, 0, 0.8); } }

.lnr-location:before {
  content: "\f2b9"; }

#homeScroll {
  display: visible;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  #homeScroll hr {
    margin-bottom: 0 !important; }

.d-none {
  transition: all 0.5s ease;
  display: none; }

.b-color-nav {
  background-color: rgba(60, 195, 144, 0.3);
  padding: 1rem 0; }

.text-white {
  font-family: Poppins, sans-serif; }

.bg-button {
  font-size: 13px;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: #fff;
  text-align: center;
  width: 160px;
  height: 46px;
  line-height: 46px;
  background-image: linear-gradient(to right, #744fff 0%, #21d397 51%, #744fff 100%);
  transition: all 400ms ease-out !important;
  background-size: 200% auto;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block; }
  .bg-button:hover {
    background-position: right center;
    color: #fff; }
  .bg-button:focus {
    background-image: linear-gradient(to right, #744fff 0%, #21d397 51%, #744fff 100%) !important;
    transition: all 400ms ease-out !important;
    background-size: 200% auto; }

/*--------------------------------------------------------------
# Header Nav Slide 
--------------------------------------------------------------*/
#nav-slide {
  background-color: #fff;
  position: fixed;
  top: -5rem;
  width: 100vw;
  display: block;
  z-index: 997;
  transition: top 0.3s; }

#nav-slide .container-fluid {
  padding-left: 15px;
  padding-right: 15px; }

#nav-slide .nav-menu a {
  padding: 1rem 1rem 1rem 1rem;
  text-decoration: none;
  display: inline-block;
  color: #000000;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  outline: none; }
  @media (min-width: 992px) and (max-width: 1400px) {
    #nav-slide .nav-menu a {
      float: right; } }

#nav-slide .nav-menu li:hover > a, .nav-menu > .menu-active > a {
  transition: .3s;
  color: #2bc0a4; }

#nav-slide .col-4 {
  height: 4rem; }

#nav-slide .logo-word {
  display: block;
  height: 90%;
  margin: auto;
  padding-left: 7rem;
  padding-top: .5rem; }
  @media (min-width: 992px) and (max-width: 1400px) {
    #nav-slide .logo-word {
      padding-left: 1rem; } }
  @media (min-width: 760px) and (max-width: 992px) {
    #nav-slide .logo-word {
      padding-left: 0rem; } }

#nav-slide .nav-menu li {
  border-top: none;
  position: relative;
  white-space: nowrap; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.not-done-yet {
  color: red !important; }

#header {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  background-color: white;
  -webkit-animation: onStartHide 1s 1s;
  /* Safari 4.0 - 8.0 */
  animation: onStartHide 1s 1s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
  transition-timing-function: ease-in; }
  @media (max-width: 960px) {
    #header {
      height: 76px; } }

#nav-section {
  padding: 1rem 0;
  transition: all 0.3s ease 0s; }

#header.header-scrolled {
  transition: all 0.5s;
  box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3); }

.main-logo {
  width: 100%;
  border-radius: 30%; }

.img-align {
  display: block;
  position: relative; }

.header-top span {
  color: black;
  font-weight: 500; }

@media (max-width: 960px) {
  .header-top .menu-top-left, .header-top .menu-top-right {
    display: none; } }

.header-top .tel {
  color: #000000;
  font-size: .8rem;
  font-weight: 500; }
  @media (max-width: 960px) {
    .header-top .tel {
      display: none; }
      .header-top .tel span {
        display: block; } }

.header-top .tel:hover {
  color: #2bc0a4; }

@media (max-width: 414px) {
  .header-top .menu-top-middle {
    justify-content: left !important; } }

.header-top .menu-top-left {
  text-align: left; }
  .header-top .menu-top-left .tel {
    color: #000000;
    font-size: .8rem;
    font-weight: 500;
    transition: .5s color;
    text-decoration: none; }
    @media (max-width: 960px) {
      .header-top .menu-top-left .tel {
        display: none; }
        .header-top .menu-top-left .tel span {
          display: block; } }
  .header-top .menu-top-left .tel:hover {
    color: #2bc0a4; }
  .header-top .menu-top-left span {
    color: #fff;
    padding: 28px;
    font-size: 20px;
    font-weight: 700;
    margin-right: 10px; }
    @media (max-width: 480px) {
      .header-top .menu-top-left span {
        color: #fff;
        padding: 12px;
        font-size: 18px;
        font-weight: 700;
        margin-left: 40px; } }
  @media (max-width: 480px) {
    .header-top .menu-top-left {
      text-align: left;
      margin-top: -26px; } }

.header-top .menu-top-right {
  text-align: right; }
  .header-top .menu-top-right .tel {
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    transition: .5s color; }
    @media (max-width: 960px) {
      .header-top .menu-top-right .tel {
        display: none; }
        .header-top .menu-top-right .tel span {
          display: block; } }
  .header-top .menu-top-right .tel:hover {
    color: #2bc0a4; }
  .header-top .menu-top-right span {
    color: #fff;
    padding: 28px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px; }
    @media (max-width: 480px) {
      .header-top .menu-top-right span {
        background-color: #f6214b;
        color: #fff;
        padding: 12px;
        font-size: 18px;
        font-weight: 700;
        margin-right: 40px; } }
  @media (max-width: 480px) {
    .header-top .menu-top-right {
      text-align: right;
      margin-top: -26px; } }

@media (max-width: 673px) {
  #logo {
    margin-left: 20px; } }

#header #logo h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px; }

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
  padding-left: 10px;
  border-left: 4px solid #536ADE; }

#header #logo img {
  padding: 0;
  margin: 0; }

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px; }
  #header #logo img {
    max-height: 40px; } }

.marg-no-side {
  margin-right: auto;
  margin-left: auto; }

#header h5 {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  color: #3e3e3e;
  text-align: center;
  padding-top: 1rem; }

.bg-trans {
  background-color: #f9f9ff; }

#header hr {
  margin-top: 0; }

.header-locale {
  margin-right: auto;
  margin-left: auto;
  display: inline-block; }
  .header-locale a {
    font-size: 1.5rem;
    color: #b5aec4;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding-right: 1rem;
    padding-left: 1rem; }
  .header-locale:hover a {
    color: #2bc0a4; }
  .header-locale:last-child {
    margin-right: 0px; }

#header .header-socials {
  margin-bottom: 0;
  float: right;
  padding-right: 2rem; }
  #header .header-socials li {
    display: inline-block;
    margin-right: 32px; }
    #header .header-socials li a {
      font-size: 2rem;
      color: #b5aec4;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    #header .header-socials li:hover a {
      color: #2bc0a4; }
    #header .header-socials li:last-child {
      margin-right: 0px; }

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-info {
  text-align: center;
  padding-bottom: 2rem; }

.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  z-index: 99; }

.nav-menu li {
  border-top: 1px solid black;
  position: relative;
  white-space: nowrap; }

.nav-menu > li {
  float: left; }

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block; }

.nav-menu ul ul {
  top: 0;
  left: 100%; }

.nav-menu ul li {
  min-width: 180px;
  text-align: left; }

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px; }

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-style: normal;
  font-weight: normal; }

.sf-arrows ul .sf-with-ul:after {
  content: "\f105"; }

/* Nav Meu Container */
#nav-menu-container {
  margin: auto; }

@media (max-width: 768px) {
  #nav-menu-container {
    display: none; } }

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 1rem 0 1rem;
  text-decoration: none;
  display: inline-block;
  color: #000000;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  outline: none; }

.nav-menu li:hover > a, .nav-menu > .menu-active > a {
  transition: .3s;
  color: #2bc0a4; }

.nav-menu > li {
  margin-left: 10px; }

.nav-menu ul {
  margin: 14px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff; }

.nav-menu ul li {
  transition: 0.3s; }

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 12px;
  text-transform: none; }

.nav-menu ul li:hover > a {
  color: #536ADE; }

.nav-menu ul ul {
  margin: 0; }

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 15px;
  z-index: 999;
  top: 24px;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer; }

#mobile-nav-toggle i {
  color: #536ADE;
  font-weight: 900; }

@media (max-width: 960px) {
  #mobile-nav-toggle {
    display: inline; }
  #nav-menu-container {
    display: none; } }

#indexNav {
  -webkit-animation: animateNav 1s;
  /* Safari 4.0 - 8.0 */
  animation: animateNav 1s;
  animation-delay: 1.3s;
  animation-fill-mode: backwards; }

#aboutNav {
  -webkit-animation: animateNav 1s;
  /* Safari 4.0 - 8.0 */
  animation: animateNav 1s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards; }

#serviceNav {
  -webkit-animation: animateNav 1s;
  /* Safari 4.0 - 8.0 */
  animation: animateNav 1s;
  animation-delay: 1.7s;
  animation-fill-mode: backwards; }

#pricingNav {
  -webkit-animation: animateNav 1s;
  /* Safari 4.0 - 8.0 */
  animation: animateNav 1s;
  animation-delay: 1.9s;
  animation-fill-mode: backwards; }

#galleryNav {
  -webkit-animation: animateNav 1s;
  /* Safari 4.0 - 8.0 */
  animation: animateNav 1s;
  animation-delay: 2.1s;
  animation-fill-mode: backwards; }

#contactNav {
  -webkit-animation: animateNav 1s;
  /* Safari 4.0 - 8.0 */
  animation: animateNav 1s;
  animation-delay: 2.3s;
  animation-fill-mode: backwards; }

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s; }

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none; }

#mobile-nav ul li {
  position: relative; }

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700; }

#mobile-nav ul li a:hover {
  color: #fff; }

#mobile-nav ul li li {
  padding-left: 30px; }

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff; }

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #536ADE; }

#mobile-nav ul .menu-has-children li a {
  text-transform: none; }

#mobile-nav ul .menu-item-active {
  color: #536ADE; }

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none; }

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden; }

body.mobile-nav-active #mobile-nav {
  left: 0; }

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff; }

.hovered {
  position: fixed !important;
  top: 0; }

@keyframes animateNav {
  0% {
    left: -10rem;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 1; } }

.service_area {
  background: url(../../images/warehouseImage.jpg) no-repeat fixed center center;
  background-size: cover;
  position: relative;
  z-index: 2;
  padding: 115px 0px; }
  .service_area:before {
    content: "";
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%; }

.service_area hr {
  background-color: #fff; }

.center-plate {
  color: #fff;
  text-align: center;
  padding-bottom: 30px; }
  .center-plate h2 {
    font-size: 40px;
    font-family: Poppins, sans-serif;
    font-weight: 500; }
  .center-plate p {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    line-height: 26px;
    padding-top: 10px; }

.service_item {
  text-align: center;
  color: #fff; }
  .service_item i {
    font-size: 40px; }
  .service_item h4 {
    font-size: 20px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    padding: 18px 0px 12px 0px; }
  .service_item p {
    font-size: 14px;
    line-height: 26px;
    font-family: Poppins, sans-serif;
    max-width: 360px;
    margin: auto; }

.icon-size {
  color: #3cc390;
  height: 3rem !important;
  width: 3rem !important; }

.padding-T {
  padding-top: 1rem; }

.service-main {
  background-color: #f9f9ff;
  padding-top: 3rem; }
  .service-main .service-1, .service-main .service-2 {
    padding-bottom: 3rem; }
    .service-main .service-1 h3, .service-main .service-2 h3 {
      font-weight: 100;
      text-align: center;
      margin: auto; }
  .service-main h2 {
    text-align: center;
    margin: auto; }

.service-2 {
  padding-bottom: 0 !important; }
  .service-2 .pathfinder-back {
    background-color: #666666;
    background-image: url(../../images/L-Series-Wireframe.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 350px; }
    .service-2 .pathfinder-back h2 {
      padding-top: 4rem;
      color: #fff;
      font-weight: 600;
      font-family: Poppins, sans-serif;
      font-size: 3rem; }
    .service-2 .pathfinder-back h5 {
      padding-top: 2rem;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      font-weight: 600;
      font-family: Poppins, sans-serif;
      font-size: 1.5rem;
      letter-spacing: 4px; }

.wintech-header h2 {
  color: #3e3e3e;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 3px; }

.wintech-header h3 {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  padding-bottom: 1rem; }

.wintech-header hr {
  margin: auto;
  width: 40% !important; }

.wintech-bio {
  padding-left: 4rem; }
  .wintech-bio i {
    margin-right: 3rem !important;
    color: #8f8f83; }
    .wintech-bio i:hover {
      color: #2bc0a4; }
  .wintech-bio h2 {
    text-align: left;
    font-size: 2rem;
    font-weight: 400; }
  .wintech-bio p {
    font-size: 1.2rem;
    font-weight: 100; }
  .wintech-bio hr {
    height: 2px !important;
    background-color: rgba(43, 192, 164, 0.4) !important;
    margin: auto;
    width: 100% !important; }

.wintech-back {
  background-color: #2660ac;
  min-height: 350px; }
  .wintech-back h2 {
    padding-top: 4rem;
    color: #fff;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    font-size: 3rem; }
  .wintech-back h5 {
    padding-top: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    font-size: 1.5rem;
    letter-spacing: 4px; }

.win-wrapper {
  display: block;
  margin: auto;
  padding-top: 1rem;
  padding-left: 2rem; }

.wintech-img {
  position: relative;
  margin: auto;
  display: block; }

.pathfinder-img {
  position: relative;
  margin: auto;
  display: block; }

.construct-area {
  background-color: #f9f9ff;
  transform: skewY(3deg);
  margin-top: -5rem;
  padding-top: 10rem;
  padding-bottom: 3rem; }

.construct-area .container {
  transform: skewY(-3deg); }

.pad-l-side {
  padding-left: 4rem; }

.pad-r-side {
  padding-right: 4rem; }

.border-r-side {
  border: 2px solid #2bc0a4;
  border-right: transparent;
  border-bottom: transparent; }

.border-l-side {
  border: 2px solid #2bc0a4;
  border-left: transparent;
  border-bottom: transparent; }

.construct-p {
  height: 30rem;
  margin-top: 2rem;
  text-align: center; }
  .construct-p h3 {
    color: #3e3e3e;
    font-size: 2rem;
    font-family: Poppins, sans-serif;
    text-transform: capitalize;
    font-weight: 500;
    padding: 18px 0px 12px 0px; }
  .construct-p p {
    color: #3e3e3e;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 2rem;
    font-size: 1rem; }

.img-fit {
  display: block;
  position: absolute; }

.round-img {
  height: 25rem;
  width: 100%;
  box-shadow: 0.5rem 0.5rem 6rem rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0.5rem 0.5rem 6rem rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0.5rem 0.5rem 6rem rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0.5rem 0.5rem 6rem rgba(0, 0, 0, 0.6); }

.construct-area hr {
  background-color: rgba(43, 192, 164, 0.7);
  color: rgba(143, 143, 131, 0.7);
  position: relative;
  width: 18rem;
  height: .3rem;
  text-align: center;
  border: 2px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto; }

.inbetween {
  margin-top: 0 !important;
  height: .1rem !important; }

.construct-btn {
  background-color: #2bc0a4;
  color: #fff;
  text-transform: uppercase;
  border-radius: 1rem;
  font-size: 1.1rem;
  padding: .5rem 3rem .5rem 3rem;
  font-weight: 400;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .construct-btn:hover {
    cursor: pointer;
    background: transparent;
    border-color: #fff;
    color: #2bc0a4; }

.section-stories {
  padding-top: 6rem;
  padding-bottom: 2rem;
  margin-top: -3rem;
  background-color: rgba(236, 219, 179, 0.2); }

.heading-secondary {
  color: #3e3e3e;
  font-weight: 700;
  font-size: 40px;
  text-shadow: 1px 1px #3e3e3e; }

.story {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 2rem;
  box-shadow: 0 3rem 6rem rgba(255, 255, 255, 0.4);
  background-color: white;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1rem;
  transform: skewX(-12deg); }
  .story h3 {
    color: #2bc0a4; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .story__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none; } }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.story-btn {
  color: #fff;
  text-transform: uppercase;
  border-radius: 1rem;
  font-size: 1.1rem;
  padding: .5rem 3rem .5rem 3rem;
  font-weight: 400;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .story-btn:hover {
    cursor: pointer;
    background: transparent;
    border-color: #fff;
    color: #2bc0a4; }

.u-margin-bottom-big {
  margin-bottom: 5rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-center-text {
  text-align: center; }

.calculate-area {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #2bc0a4;
  display: block; }
  .calculate-area .price-cont {
    text-align: center;
    margin: auto; }
  .calculate-area h3 {
    font-weight: 700;
    color: #fff;
    padding-bottom: .5rem; }
  .calculate-area .price-btn {
    background-color: #fff;
    color: #000000;
    text-transform: uppercase;
    border-radius: 1rem;
    font-size: 1.1rem;
    padding: .5rem 3rem .5rem 3rem;
    font-weight: 400;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .calculate-area .price-btn:hover {
      cursor: pointer;
      background: transparent;
      border-color: #fff;
      color: #fff; }

/* Footer Area css
============================================================================================ */
.footer_widgets_area {
  background: #131627;
  overflow: hidden;
  padding: 80px 0px; }

.f_w_title {
  padding-bottom: 25px; }
  .f_w_title h3 {
    color: #fff;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 16px; }

.subscribe_widget p {
  font-size: 14px;
  line-height: 26px;
  color: #b5aec4;
  font-weight: 300;
  font-family: Poppins, sans-serif;
  padding-bottom: 20px; }

.subscribe_widget .input-group input {
  background: #2b2e3d;
  border: none;
  outline: none;
  box-shadow: none;
  height: 40px;
  border-radius: 3px;
  font-size: 12px;
  color: #b5aec4;
  font-family: Poppins, sans-serif;
  padding: 0px 15px; }
  .subscribe_widget .input-group input.placeholder {
    font-size: 12px;
    color: #b5aec4;
    font-family: Poppins, sans-serif; }
  .subscribe_widget .input-group input:-moz-placeholder {
    font-size: 12px;
    color: #b5aec4;
    font-family: Poppins, sans-serif; }
  .subscribe_widget .input-group input::-moz-placeholder {
    font-size: 12px;
    color: #b5aec4;
    font-family: Poppins, sans-serif; }
  .subscribe_widget .input-group input::-webkit-input-placeholder {
    font-size: 12px;
    color: #b5aec4;
    font-family: Poppins, sans-serif; }

.subscribe_widget ul {
  padding-top: 30px; }
  .subscribe_widget ul li {
    display: inline-block;
    margin-right: 32px; }
    .subscribe_widget ul li a {
      font-size: 2rem;
      color: #b5aec4;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .subscribe_widget ul li:hover a {
      color: #2bc0a4; }
    .subscribe_widget ul li:last-child {
      margin-right: 0px; }

.twitter_widget {
  margin-left: 55px; }
  .twitter_widget .tweets_feed ul .owl-item .tw_content .tweet_text {
    font-size: 14px;
    line-height: 26px;
    color: #b5aec4;
    font-family: Poppins, sans-serif; }
    .twitter_widget .tweets_feed ul .owl-item .tw_content .tweet_text i {
      padding-right: 5px;
      color: #2bc0a4; }
    .twitter_widget .tweets_feed ul .owl-item .tw_content .tweet_text a {
      font-size: 14px;
      line-height: 26px;
      color: #b5aec4;
      font-family: Poppins, sans-serif;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .twitter_widget .tweets_feed ul .owl-item .tw_content .tweet_text a:hover {
        color: #2bc0a4; }
  .twitter_widget .tweets_feed ul .owl-item .tw_content .tweet_date {
    font-size: 14px;
    line-height: 26px;
    color: #b5aec4;
    font-family: Poppins, sans-serif;
    padding-top: 15px; }
  .twitter_widget .tweets_feed ul .owl-item .footer .tweet_time.fright a {
    font-size: 14px;
    line-height: 26px;
    color: #2bc0a4;
    font-family: Poppins, sans-serif; }

.categories_widget {
  margin-left: 70px; }
  .categories_widget ul {
    width: calc(100% / 2);
    float: left;
    margin-top: -4px; }
    .categories_widget ul li a {
      position: relative;
      font-size: 14px;
      color: #b5aec4;
      font-family: Poppins, sans-serif;
      line-height: 36px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .categories_widget ul li a i {
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
    .categories_widget ul li:hover a {
      padding-left: 15px;
      color: #2bc0a4; }
      .categories_widget ul li:hover a i {
        opacity: 1; }

.contact_widget {
  margin-left: 50px; }
  .contact_widget a, .contact_widget p, .contact_widget h6 {
    font-size: 14px;
    color: #b5aec4;
    font-family: Poppins, sans-serif;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .contact_widget a:hover, .contact_widget p:hover, .contact_widget h6:hover {
      color: #2bc0a4; }
  .contact_widget p {
    padding: 23px 0px; }

.copy_right_area {
  background: #04081d;
  overflow: hidden; }
  .copy_right_area .float-md-left h5 {
    color: #51545f;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    line-height: 50px; }
    .copy_right_area .float-md-left h5 a {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      color: #51545f;
      font-size: 14px;
      font-family: Poppins, sans-serif;
      line-height: 50px; }
      .copy_right_area .float-md-left h5 a:hover {
        color: #2bc0a4; }
  .copy_right_area .float-md-right .nav li {
    margin-right: 35px; }
    .copy_right_area .float-md-right .nav li a {
      padding: 0px;
      line-height: 50px;
      font-size: 14px;
      color: #51545f;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .copy_right_area .float-md-right .nav li:last-child {
      margin-right: 0px; }
    .copy_right_area .float-md-right .nav li:hover a {
      color: #2bc0a4; }

/* End Footer Area css
============================================================================================ */
#gallery-main {
  display: block;
  background-color: #f9f9ff;
  padding-top: 2rem;
  margin-bottom: 0; }

/* Thumbnails */
.thumbnails {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  margin: 0 0 0 -2em; }

.thumbnails a {
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-bottom: none;
  display: block;
  width: 100%;
  margin: 0 0 2em 0;
  text-align: center;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
  background-color: rgba(62, 62, 62, 0.05);
  cursor: pointer;
  outline: 0;
  overflow: hidden;
  text-decoration: none; }

.thumbnails a img {
  transition: .5s ease;
  display: block;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.thumbnails a h4 {
  height: 2rem;
  margin: 1em;
  color: #8f8f83;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  overflow: hidden; }

#gallery-main h2 {
  margin-left: 5rem;
  margin-right: 5rem;
  font-weight: 100;
  text-align: center; }

.thumbnails a h4:hover {
  color: #2bc0a4; }

.hidden {
  overflow: hidden; }

.thumbnails a:hover {
  color: #2bc0a4;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25), 0 0 0.5em 0 #2bc0a4; }

.thumbnails a img:hover {
  transform: scale(1.1); }

.thumbnails > div {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: calc(100% / 3);
  padding-left: 3rem;
  padding-right: 2rem; }

.thumbnails > div > :last-child {
  margin-bottom: 0; }

@media screen and (max-width: 1280px) {
  .thumbnails {
    margin: 0 0 0 -1.5em; }
  .thumbnails a {
    margin: 0 0 1.5em 0; } }

@media screen and (max-width: 980px) {
  .thumbnails h4 {
    font-size: 0.8em; } }

@media screen and (max-width: 480px) {
  .thumbnails {
    display: block; }
  .thumbnails a {
    margin: 0 0 2em 0 !important; }
  .thumbnails > div {
    display: block;
    width: 100%; }
  .thumbnails > div:last-child > :last-child {
    margin-bottom: 0 !important; }
  .thumbnails h4 {
    font-size: 1em; } }

.about-first .hero {
  position: relative;
  background-color: #f9f9ff;
  width: 100% !important;
  z-index: 4; }

.about-first .hero:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 47%;
  width: 0;
  height: 0;
  border-top: solid 40px #f9f9ff;
  border-left: solid 40px transparent;
  border-right: solid 40px transparent; }

.jumbo-about {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center; }
  .jumbo-about h3 {
    padding-top: 5rem;
    font-weight: 200; }

.about-first p {
  font-weight: 100;
  padding-top: 3rem;
  padding-bottom: 5rem;
  font-size: 1.2rem;
  padding-right: 25%;
  padding-left: 25%;
  margin-bottom: 0;
  font-family: Poppins, sans-serif; }

.about-second {
  text-align: center; }
  .about-second .hero {
    position: relative;
    background-color: #dfeeee;
    z-index: 3; }
  .about-second .hero:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 47%;
    width: 0;
    height: 0;
    border-top: solid 40px #dfeeee;
    border-left: solid 40px transparent;
    border-right: solid 40px transparent; }
  .about-second p {
    font-size: 1rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4rem; }

.about-second-img {
  display: block;
  max-width: 100%;
  margin: 3rem 3rem; }

.about-third {
  text-align: center; }
  .about-third .hero {
    position: relative;
    background-color: #F0F7F7;
    z-index: 2; }
  .about-third .hero:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 47%;
    width: 0;
    height: 0;
    border-top: solid 40px #F0F7F7;
    border-left: solid 40px transparent;
    border-right: solid 40px transparent; }
  .about-third p {
    font-size: 1rem;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 4rem; }

.about-fourth {
  text-align: center; }
  .about-fourth .hero {
    position: relative;
    background-color: #dfeeee;
    z-index: 1; }
  .about-fourth .hero:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 47%;
    width: 0;
    height: 0;
    border-top: solid 40px #dfeeee;
    border-left: solid 40px transparent;
    border-right: solid 40px transparent; }
  .about-fourth p {
    font-size: 1rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4rem; }
  .about-fourth a {
    text-decoration: underline; }

.about-fifth {
  background-color: #fff;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem; }
  .about-fifth p {
    font-size: 1rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem; }

.img-port {
  display: block;
  margin: auto; }
